.about{
    padding: 80px 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #C4614A;
}
.about-card h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #496f98;
    ;
}
.about-card p {
    font-size: 20px;
    line-height: 1.6;
    color: #C4614A;
}
.about-card {
 background-color: #a0b6c9;
 gap: 9px;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.about-card:hover {
  transform: translateY(-5px);
}

.about-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  gap: 40px; /* 👈 increase this */
  max-width: 800px;
  margin: auto;
}
.about-dd {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border-radius: 10px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.dropdown a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.dropdown a:hover {
  background: #f3f3f3;
  color: #C4614A;
}